ion-content {
  background:url(https://cdn.jsdelivr.net/gh/j101031z/ElectricityCalculator@master/HexagonBack.png)
}

h1 {
  color: #1F1C18;
  font-size: 6.25vw;
}

p {
  color: #1F1C18;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 1.5vw;
}

button {
  background: #1F1C18
}

h2 {
  color: #1F1C18;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}
