ion-content {
  background:url()
}

h1 {
  color: #1F1C18;
}

p {
  color: #1F1C18;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

button {
  background: #1F1C18
}

h2 {
  color: #1F1C18;
}
